:root {
  --white: #FFFFFF;
  --gray: #7C7C7A;
  --medium-gray: #424444;
  --light-gray: #F5F5F5;
  --black: #242625;
  --blue: #4A49CB;
  --purple: #A492FF;
  --primary-font-size: 16px;
  --border-radius: 8px;
}

/* theme styles */
.theme-light {
  background-color: var(--white);
  color: var(--gray);
}

.dark-light {
  background-color: var(--black);
  color: var(--light-gray);
}

/* general styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--primary-font-size);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/* utility classes */
.text-bold {
  font-weight: 700 !important;
}

.text-accent {
  color: var(--purple);
}

.m-b-0 {
  margin-bottom: 0;
}
