@import "../styles/variables.scss";

.App {
    // overwrite the antd default styles
    & :global {
        .ant-result-title,
        .ant-result-subtitle {
            color: $light;
        }
    }

    .Title {
        text-align: center;
        margin-bottom: 2rem;
        color: $warning;
    }
}