:root {
    --accent: #ff9969;
    --light: #F8F8FF;
    --purple: #543864;
    --dark: #202040;
    --black: #0c0c06;
    /* --accent: #FF6363; */
    --primary-font-size: 18px;
    --border-radius: 8px;

}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
    min-height: 100vh;
    font-size: var(--primary-font-size);
    line-height: 1.5px;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

.app {
    background-color: var(--dark);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: 4rem;
    box-shadow: 0 2px 4px rgba(255, 189, 105, 0.5),
        0 4px 8px rgba(255, 189, 105, 0.3);
    box-shadow: rgba(255, 189, 105, 0.25) 0px 28px 38px, 
                rgba(255, 189, 105, 0.12) 0px -12px 30px,
                rgba(255, 189, 105, 0.12) 0px 4px 6px, 
                rgba(255, 189, 105, 0.17) 0px 12px 13px,
                rgba(255, 189, 105, 0.09) 0px -3px 5px;
}

.app-header {
    background-color: var(--purple);
    color: var(--accent);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header.disabled button {
    opacity: 0.65;
    cursor: not-allowed;
}

.app-body {
    display: none;
}

.app-body.active {
    display: block;
}

.app-content {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.app-content p {
    color: var(--light);
}

/* Buttons */
.btn {
    background-color: var(--accent);
    color: var(--accent);
    border: 2px solid var(--dark);
    padding: 0.5rem;
    color: var(--dark);
    cursor: pointer;
    transition: all .25s ease-in-out;
    /* margin: 0 .35rem; */
    border-radius: var(--border-radius);
}

.btn > span {
    font-size: 1rem;
    font-weight: 600;
    margin-right: .5rem;
    color: inherit;
}

.btn:hover {
    /* color: var(--accent); */
    background-color: var(--accent);
    /* border-color: var(--accent); */
}

.btn--icon {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--icon svg {
    width: 20px;
    height: 20px;
}

.btn--icon svg path {
    fill: var(--dark);
}

.btn--square {
    border-radius: 0;
}

/* forms */
.form {
    display: flex;
    gap: 0.5rem;
}

.form > input[type="text"] {
    font-size: var(--primary-font-size);
    padding: 0.5rem 1rem;
    color: var(--black);
    border: none;
    flex-grow: 1;
}

.form input[type="text"]:focus-visible {
    outline-color: var(--accent);
}

.add-form {
   display: grid;
   grid-template-columns: 1fr auto;
   gap: 0;
}

.add-form > input {
    padding: 1rem;
}

.add-form > button {
    grid-column: 2/3;
    grid-row: 1/-1;
    border-color: transparent;
    border-left-color: var(--dark);
    height: 100%;
    width: 52px;
}

.add-form > button svg {
    width: 24px;
    height: 24px;
}

/* Product List */
.product-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-list li { 
    background-color: var(--white);
    color: var(--black);
    padding: 0.75rem 1rem 0.75rem 0;
    font-weight: 600;
    border-bottom: 2px solid var(--accent);
}

.product-list li:not(.form-item) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.product-list li p.completed {
    text-decoration: line-through;
    opacity: .6;
}

.product-list li .btns {
    display: grid;
    column-gap: .35rem;
    grid-template-columns: repeat(3, auto);
}
