.search {
    position: relative;
    background-color: var(--medium-gray);
    border-radius: var(--border-radius);
}

.search input[type="search"] {
    width: 100%;
    padding: 14px 20px 14px 70px;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
    color: var(--light-gray);

}

.search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search ::placeholder {
    color: var(--light-gray);
}

.search .icon-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}