.theme-checkbox-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .theme-checkbox-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .theme-checkbox-wrapper .theme-checkbox {
    margin-left: auto;
  }
  