@import "../../styles/variables.scss";

.CardList {
    row-gap: 20px;

    // overwrite the antd default styles
    & :global .ant-card {
        padding: 0 !important;
        background: rgba(255, 255, 255, 0.2) !important;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.Card {
    overflow: hidden;

    // overwrite the antd default styles
    & :global {
        .ant-tag  {
            background-color: $dark;
            color: $light;
            border: none;
            margin-bottom: 1rem;
            padding: 0.25rem 0.5rem;
            
            &.success,
            &.warning,
            &.danger {
                font-weight: 600;
                font-style: italic;
                letter-spacing: .05rem;
            }

            &.warning,
            &.danger {
                color: $dark;
            }

            &.success {
                background-color: $success !important;
            }
            &.warning {
                background-color: $warning !important;
            }
            &.danger {
                background-color: $danger !important; 
            }
        }

        .ant-card-body {
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

    
        .ant-card-meta-title {
            overflow: auto;
            white-space: unset;
            font-size: 1.25rem;
            color: $white;
            text-shadow: 1px 1px 4px $dark;
            margin-bottom: 20px !important;
           
        }

        .ant-card-meta-description {
            width: 100%;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            font-size: .9rem;
            color: $white;
            text-shadow: 1px 1px 4px $dark;
        }

        .ant-rate {
            width: 100%;
            // text-align: center;
            margin: .5rem 0;
            padding: 0 0.5rem;
            border-radius: $border-radius-sm;

            .ant-rate-star-zero .ant-rate-star-first,
            .ant-rate-star-zero .ant-rate-star-second {
                color: rgba(0, 0, 0, 0.2);
            }
        }

        .ant-btn {
            background-color: $primary;
            color: $white;
            transition: background-color $transition;

            &:hover,
            &:focus {
                background-color: darken($color: $primary, $amount: 10%);
            }
        }
    }
}

.CardThumb {
    // overwrite the antd default styles
    & :global .ant-image {
        width: 100%;
        height: 250px;
        padding: 20px;
        background-color: $white;
        display: flex;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.CardContent {
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
}

.CardPrice  {
    text-align: center;
    font-size: 1.5rem;
    color: $white;
    background-color: $dark;
    font-weight: 700;
    width: 80%;
    margin: auto;
    border-radius: $border-radius-sm;
}

.CardBtn {
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
