.theme-checkbox {
    width: 44px;
    height: 28px;
    background-color: var(--medium-gray);
    position: relative;
    border-radius: 100px;
}

.theme-checkbox #toggleTheme {
    visibility: hidden;
    width: 44px;
}

.theme-checkbox label {
    cursor: pointer;
}

.theme-checkbox label img {
    height: 20px;
    width: auto;
    position: absolute;
    top: 4px;
}

.theme-checkbox img.light-theme-icon {
    left: 4px;
}

.theme-checkbox img.dark-theme-icon {
    right: 4px;
}

.theme-checkbox #toggleTheme:not(:checked) + label > .light-theme-icon {
    display: none;
}

.theme-checkbox #toggleTheme:checked + label > .dark-theme-icon {
    display: none;
}