.nav-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--black);
    box-shadow: 1px 0px 0px #DEDEDE;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 88px;
    transition: width .75s ease-in-out;
}

.nav-sidebar-icon {
    position: absolute;
    right: -44px;
    top: 20px;
    transition: transform .55s ease-in-out;
}

.nav-sidebar-content {
    width: inherit;
    overflow: hidden;
    padding: 20px 16px 48px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-sidebar .nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-sidebar .user {
    margin-bottom: 56px; 
}

.nav-sidebar .search {
    margin-bottom: 30px;
}

.nav-sidebar .nav-bottom-block {
    margin-top: auto;
}

.nav-sidebar .icon-wrapper {
    margin-right: 1rem;
}

.nav-sidebar .theme-checkbox-info {
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all .75s ease-in-out;
    animation-delay: .5s;
}

/* hover sidebar state */
.nav-sidebar:hover {
    width: 280px;
}

.nav-sidebar:hover .nav-sidebar-icon {
    transform: rotateY(180deg) translateX(16px);
}

.nav-sidebar:hover .theme-checkbox-info {
    opacity: 1;
    visibility: visible;
    width: unset;
}
