.nav-item a {
    display: flex;
    align-items: center;
    color: var(--light-gray);
    text-decoration: none;
    transition: color .25s ease-in;
}

.nav-item a:hover {
    color: var(--purple);
}

.nav-icon {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 1rem;
}