:root {
    --light-color: #faf7f4;
    --dark-color: #020201;
    --primary-font-size: 18px;
  }

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../public/assets/images/animated-sky.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: --primary-font-size;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 1.25rem auto;
    background-color: black;
    padding: 2rem;
    border: 2px solid var(--light-color); 
    outline: 2px solid var(--light-color);
    outline-offset: -10px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1.5rem;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    box-shadow: 0 0 25px 5px rgba(var(--light-color), 0.35);
    margin: auto;
}

table th, 
table td {
    padding: 12px 20px;
}

table th {
    text-align: left;
}

table tr {
    box-shadow: 0 4px 6px -6px var(--light-color);
}

table td img {
    margin-right: 1rem;
    vertical-align: middle;
}
