// indents
.m-t-auto {
    margin-top: auto !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

// text
.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: 700 !important;
}

// flex
.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}
