@import "./variables.scss";
@import "./utilities.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto !important;
    padding: 0;
    height: unset !important;
}

img {
    max-width: 100%;
}

body {
    background-color: $dark;
    color: $light;
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px;
    max-width: 1200px;
    padding: 5%;
    margin: auto;
    background-image: linear-gradient( 98deg,  #050101 9.2%, #7f1010 103.9% );
    background-repeat: no-repeat;
    min-height: 100vh;
}

// animation
.animate-charcter {
    text-transform: uppercase;
     background-image: linear-gradient(
     -225deg,
     #227e81 0%,
     #e94e4e 29%,
     #e3af73 67%,
     #fff800 100%
   );
   background-size: 200% auto;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
