// colors
$white: #fff;
$dark : #050101;
$light: #fefefe;
$danger: #e94e4e;
$success: #227e81;
$warning: #e3af73;
$primary: #7f1010;

$fontSize: 16px;

$border-radius-sm: 4px;
$border-radius-md: 8px;

$transition: .25s ease-in;
